.linkDesign {
    font-weight: bold;
    color: black;

    margin: 1em;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
}

.linkDesign:hover {
    cursor: pointer;
    transition: 0.5s;
    color: gray;
}