.cButtonDesign {
    margin: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    color: teal;
    font-weight: bold;

    transition: 0.2s;
}

.cButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    font-weight: light;
    color: black;
}

/* .cButtonGreen {
    background-color: green;
}

.cButtonGreen:hover {
    background-color: darkgreen;
} */