.inputDesign {
    height: 3em;
    width: 25em;

    border: 0.02em solid teal;
    border-radius: 0.5em;
    background-color: lightgrey;
    padding-left: 1em;
    margin: 1em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputDesign:focus {
    background-color: whitesmoke;
}

.inputDesign::placeholder {
    color: grey;
}

.inputDesignError {
    border: 0.02em solid darkred;
    background-color: gainsboro;
}

.error {
    color: darkred
}

.borderEdit {
    border: 0.075em solid teal;
    background-color: whitesmoke;
}