.profileDesign {
    height: 86.5vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputDesign {
    margin: 2.5em;
}

.loader {
    height: 2.5em;
}