.homeDesign {
    min-height: 86.5vh;
    width: 100vw;
}

.cover {
    width: 100vw;
    margin-top: -5em;
    z-index: 1;
}

.newServiceBtn {
    border: 0.075em solid teal;
    border-radius: 0.5em;
    background-color: #e9e3e3;
    color: teal;
    font-weight: bold;
    height: 3em;
    width: 22em;
    transition: 0.2s;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.btn1,
.btn2 {
    border: 0.025em solid teal;
    border-radius: 0.5em;
    background-color: #e9e3e3;
    color: teal;
    height: 2em;
    width: 22em;


}

input::placeholder {
    padding-left: 1em;
    color: teal;
    font-size: smaller;
}



.newServiceBtn:hover {
    border: 0.15em solid teal;
    cursor: pointer;
    transition: 0.2s;
}

.cardGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}