.daypickerDesign {

    border: 0.02em solid teal;
    border-radius: 0.5em;
    color: teal;
    background-color: gainsboro;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.daypickerDesign div.rdp-day:hover {
    cursor: pointer;
}