.navigatorDesign {
    color: rgb(85, 85, 85);
    font-weight: bold;

    transition: 0.2s;
    margin: 1em;
}

.navigatorDesign:hover {
    color: teal;
    transition: 0.2s;
    cursor: pointer;

}

.btnActive {
    color: teal;
}