.navigatorDesign {
    color: rgb(85, 85, 85);
    font-weight: bold;

    transition: 0.2s;
    margin: 1em;
}

.btn:hover {
    background-color: gainsboro;
}

.navigatorDesign:hover,
.active {

    color: teal;
    transition: 0.2s;
    cursor: pointer;
}