.headerDesign {

    height: 7.5vh;
    width: 100vw;

    background-color: lightgray;
    border-bottom: 0.075em solid teal;

    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-items: flex-end;
    justify-content: space-between;

}

.authMenu {
    display: flex;
    flex-direction: row;

}

.logo {
    display: flex;

    justify-content: center;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.spacer {
    flex-grow: 1;
    /* Allow the spacer to grow to take up remaining space */
}