.headerDesign {
    height: 7.2vh;
    width: 100vw;

    background-color: lightgray;
    border-bottom: 0.075em solid teal;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}

.authMenu {
    display: flex;
    flex-direction: row;
}

.selected {
    color: teal;
}