.cardApp {
    height: 7em;
    width: 15em;

    border: 0.075em solid teal;
    border-radius: 0.5em;
    background-color: #e9e3e3;
    color: black;
    margin: 3em 2em 0 2em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: 0.2s;
}

.cardApp:hover {
    border: 0.15em solid teal;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.serviceName {
    color: teal;

    margin-bottom: 1em;

}

serviceDay {
    margin-top: 1em;
    color: black;
    font-weight: bold;

}

serviceTime {
    margin-top: 1em;
    color: black;
    font-weight: bold;

}


.btnApp {
    color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em;
}